.containerInput {
  display: flex;
  flex-direction: column;
  width: 340px;
  position: relative;
}

.containerInput input {
  width: 50%;
}

.containerInput label,
.containerInput {
  margin-bottom: 10px;
}

.containerInput:first-child {
  margin-top: 10px;
}

.calendar {
  position: absolute;
  z-index: 1;
  top: 50px;
  background-color: white;
}

fieldset {
  padding: 10px;
}
