.listStyle {
  list-style: none;
  position: absolute;
  height: 100px;
  z-index: 1;
  background-color: white;
  padding: 10px;
  overflow-y: scroll;
  cursor: pointer;
}

li {
  font-size: 12px;
}

.containerList,
.containerList span {
  position: "relative";
  cursor: "pointer";
  user-select: "none";
  cursor: pointer;
  font-size: 12px;
}
